# Configurações do Banco de Dados
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=gamedeal_tracker
POSTGRES_PORT=5432

# Segurança da API
API_KEY=dev-key-123
SYNC_API_KEY=admin-sync-key-123

# Ambiente
ENV=development

# IsThereAnyDeal (ITAD) API
ITAD_API_KEY=sua_chave_aqui
ITAD_CLIENT_ID=seu_client_id_aqui
ITAD_CLIENT_SECRET=seu_client_secret_aqui
